html {
    height: 100%;
}

body {
    background-color: #a3a3a3;
    height:100%;
    margin: 0;
    padding: 0;
}

.homeTiles {
	text-align: center;
}

.titleEmphasis {
	color: yellow;
}

.finalContent {
	margin-bottom: 60px;
}

#findStopMap {
    height: 65%;
    width: 95%;
    margin: 5% auto;
}

#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}