html {
    height: 100%;
}

body {
    background-color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;
    height:100%;
    margin: 0;
    padding: 0;
}

.homeTiles {
	text-align: center;
}

.navbar-inverse .container p {
    color: white;
}

.titleEmphasis {
	color: yellow;
}

#findStopMap {
    height: 65%;
    width: 95%;
    margin: 5% auto;
}

#map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.finalContent {
    margin-bottom: 20vh;
}

.settingsIcon {
    color: white;
}