body {margin: 0;text-align: center;font-family: Arial;}

a {text-decoration: none;color: black;}

a:visited {text-decoration: none;color: black;}

a:hover {text-decoration: none;	color: black;}

a:active {text-decoration: none;color: black;}

.pageFooter  a {color: yellow;}

.pageFooter  a:visited {color: yellow;}

.pageFooter  a:hover {color: yellow;}

.homeTile {	
	margin: 10px;
	border-radius: 10px;
	border-color: black;
	border-style: solid;
	height: 26vh;
	display: inline-block;
	background: #d3d3d3;
}

.tileImg {height: 80%;}

.tileFooter {background: #919191;border-radius: 10px;height: 20%;}

.tileFooter p {display: inline-block;font-family: arial;text-align: center;line-height: 100%;font-size: 2em;}

.pageBanner {
	display: inline-block;
	background: black;
	color: white;
	height: 10vh;
	width: 100vw;
	margin-bottom: 15px;
}

.pageBanner h1 {
	font-family: Arial;
	line-height: 100%;
	text-align: center;
	word-spacing: 50px;
	font-size: 4em;
}

.titleEmphasis {color: yellow;}

.topRowTiles {width: 85vw;}

.secondRowTiles {width: 40vw;}

.thirdRowTiles {width: 25vw;}

.pageFooter {
	display: inline-block;
	background: black;
	color: yellow;
	height: 10vh;
	width: 100vw;
	margin-top: 15px;
}

.pageFooter h1 {
	padding-left: 5vw;
	font-family: Arial;
	line-height: 100%;
	text-align: left;
	word-spacing: 50px;
	font-size: 3em;
}

#stopInfoText_FindStop {
	margin-left: 5vw;
	text-align: left;
	font-size: 2em;
}

#stopName_FindStop {color: blue;}

.smallIcon_FindStop {
	display: inline-table;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: green;
}

.smallIcon_FindStop p {
	vertical-align: middle;
	line-height: 100%;
	color: white;
}

#map_FindStop {
	display: block;
	margin: auto;
	margin-top: 15px;
	background-color: #d3d3d3;
	width: 90vw;
	height: 50vh;
}

#inputBar_FindStop {font-size: 2em;}